/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* Premade attribution styles */
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

/* Page styles */

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: hsl(229, 6%, 66%);
    font-size: 15px;
}

h1 {
    font-size: 2em;
}

h2 {
    color: hsl(234, 12%, 34%);
    font-size: 2em;
    font-weight: 200;
}
/* Classes */
.header {
    display: grid;
    text-align: center;
}

.title2 {
    color: hsl(234, 12%, 34%);
}

.cards {
    display: grid;
}

.card {
    background-color: white;
    border-radius: 12px;
    margin: 5% 0;
    box-shadow: 2px 5px 5px grey;
}

.card1 {
    border-top: 3px solid  hsl(180, 62%, 55%);
}

.card2 {
    border-top: 3px solid hsl(0, 78%, 62%);
}

.card3 {
    border-top: 3px solid hsl(34, 97%, 64%);
}

.card4 {
    border-top: 3px solid hsl(212, 86%, 64%);
}